<!DOCTYPE html>
<html lang="ko">
    
    <body>
        
         <!--로그인 했을경우-->
     
        <h4><a href="users/login">login</a></h4>
         <h4><a href="users/join">Join</a></h4>
         
    </body>
</html>

