{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid">
  <h1 class="mt-4">경매 낙찰 목록</h1>
  <br>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-gavel"></i>
      낙찰 목록
    </div>
    <form action="/index/detail" id="good-form" method="post">
      <div class="card-body timeline good-boxes">
        {% for good in goods %}
        <div class="good-box">
          <div class="good-box-img"><img id="good-img" src="/img/{{good.img}}"></div>
          <div class="good-name">{{good.name}}</div>
          <div class="good-price">{{good.Auctions[0].bid}} 원</div>
        </div>
        {% endfor %}
      </div>
    </form>
    <div class="product-group">
      <a href="/" class="btn btn-primary">목록으로</a>
      <a href="../../good" class="btn btn-primary">상품등록</a>
    </div>
  </div>
</div>
{% endblock %}