body {
  background-color: #485158;
}
.login {
position:absolute;
width:400px;
height:400px;
padding: 30px, 20px;
background-color:#FFFFFF;
text-align:center;
top:50%;
left:50%;
transform: translate(-50%,-50%);
border-radius: 15px;
}
.login h1{
text-align: center;
margin: 30px;
}
.idForm{
border-bottom: 2px solid #adadad;
margin: 30px;
padding: 10px 10px;
width:80%;
height:40px;
}

.passForm{
border-bottom: 2px solid #adadad;
margin: 30px;
padding: 10px 10px;
}
.email{
width: 100%;
border:none;
outline:none;
color: #636e72;
font-size:16px;
height:25px;
background: none;
}
.password {
width: 100%;
border:none;
outline:none;
color: #636e72;
font-size:16px;
height:25px;
background: none;
}

.btn {
position:relative;
left:40%;
transform: translateX(-50%);
margin-bottom: 40px;
width:80%;
height:40px;
background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
background-position: left;
background-size: 200%;
color:white;
font-weight: bold;
border:none;
cursor:pointer;
transition: 0.4s;
display:inline;
}
.join {
  position:absolute;
  width:400px;
  height:600px;
  padding: 30px, 20px;
  background-color:#FFFFFF;
  text-align:center;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  }
  .join h1{
  text-align: center;
  margin: 30px;
  }
  .joinidForm{
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
  width:80%;
  height:40px;
  }
  
  .joinpassForm{
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
  }
  .joinid{
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
  }
  .joinpw {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
  }
  .joinnameForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
   padding: 10px 10px;
  }
  .joinphoneForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
   padding: 10px 10px;
  }
  .joinname {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
    }
    .joinphone {
      width: 100%;
      border:none;
      outline:none;
      color: #636e72;
      font-size:16px;
      height:25px;
      background: none;
      }
    .joinemail {
      width: 100%;
      border:none;
      outline:none;
      color: #636e72;
      font-size:16px;
      height:25px;
      background: none;
      }
.btn:hover {
background-position: right;
}
a { text-decoration:none !important; text-decoration: black; } 
a:hover { text-decoration:none !important }
