
  <link rel="stylesheet" href="/main.css">
  <form action="/auth/detail" id="join-form" method="post">
    <h1><a href="/">누가살래</a></h1>
     <h1>상품상세보기</h1>
     <div class="timeline">
        
     <div class="input-group">
        <label for="join-email">이메일</label>
        {{user.email}}
      </div>
      <div class="input-group">
        <label for="join-nick">닉네임</label>
        {{user.nick}}
      </div>
      <div class="input-group">
        <label for="join-money">보유자산</label>
        {{user.money}}
      </div>
      <a href="/" class="btn btn-default">목록으로</a>
      <a href="./update/{{user.id}}" class="btn btn-default">수정하기</button>
    <a href="/auth/login/delete/{{user.email}}" class="btn btn-default" onclick="return confirm('회원탈퇴를하시겠습니까?')">회원탈퇴</a>
      </form>