
 <link href="../css/login.css" rel="stylesheet" />
    <form action="" method="post" class="join">
        <h1>회원가입</h1>
    <div class="joinnameForm"> 
        <input type="text" name="email" placeholder="Email" class='joinEmail' required="">
    </div>
    <div class="joinpassForm">     
      <input type="password" name="password" placeholder="Password" class='joinpw' required="">
    </div>
    <div class="joinphoneForm">    
        <input type="phone" name="phone" placeholder="Phone" class='joinphone' required="">
    </div>
    <div class="joinnameForm"> 
        <input type="text" name="name" placeholder="Name" class='joinname' required="">
    </div>
    <!-- <div class="joinnameForm"> 
        <input type="text" name="email" placeholder="Email" class='joinEmail' required="">
    </div> -->
    <button type="submit" class='btn' onclick="button()">가입하기</button>

    <div class="bottomText">
       Do you have ID? <a href="./login">Login</a>
      </div>
  </form>

