
    <link href="../css/login.css" rel="stylesheet" />
    <form action="" method="post" class="login"> <!--로그인 제출 폼(제출버튼 누르면 post요청을 보낸다.)-->
    <h1><a href="/">누가살래</a></h1>
    <div class="idForm">
      <input type="text" name="email" placeholder="email" class='email' required="">  
    </div>
    <div class="passForm">
      <input type="password" name="password" placeholder="Password" class='password' required="">
    </div>
    <button type="submit" class='btn' onclick="button()">login</button>
    <div class="bottomText">
      Don't you have ID? <a href="./join">sign up</a>
    </div>
  </form>

