{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid">
  <h1 class="mt-4">등록 상품 목록</h1>
  <br>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-search-dollar"></i>
      상품 목록
    </div>
    <form action="/index/detail" id="good-form" method="post">
      <div class="card-body timeline good-boxes">
        {% for good in goods %}
        <a href="/goodDetail/{{good.id}}" class="good-name-detail">
          <div class="good-box">
            <div class="good-box-img"><img id="good-img" src="/img/{{good.img}}"></div>
            <div class="good-name">{{good.name}}</div>
            <div class="good-price">{{good.price}} 원</div>
            <div class="time good-time" data-start="{{good.createdAt}}">00:00:00</div>
          </div>
        </a>
        {% endfor %}
      </div>
    </form>
    <div class="product-group">
      <a href="/" class="btn btn-primary">목록으로</a>
      <a href="../../good" class="btn btn-primary">상품등록</a>
    </div>
  </div>
</div>

<script>
  const es = new EventSource('/sse');
  es.onmessage = function (e) {
    document.querySelectorAll('.time').forEach((div) => {
      const end = new Date(div.dataset.start); // 경매 시작 시간
      const server = new Date(parseInt(e.data, 10));
      end.setDate(end.getDate() + 1); // 경매 종료 시간
      if (server >= end) { // 경매가 종료되었으면
        return div.textContent = '00:00:00';
      } else {
        const t = end - server; // 경매 종료까지 남은 시간
        const seconds = ('0' + Math.floor((t / 1000) % 60)).slice(-2);
        const minutes = ('0' + Math.floor((t / 1000 / 60) % 60)).slice(-2);
        const hours = ('0' + Math.floor((t / (1000 * 60 * 60)) % 24)).slice(-2);
        return div.textContent = hours + ':' + minutes + ':' + seconds;
      }
    });
  };
</script>
{% endblock %}