{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="../css/product.css">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-7">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <h3 class="text-center font-weight-light my-4">등록상품목록</h3>
        </div>
        
   <form action="/index/detail" id="good-form" method="post">
        {% for good in goods %}
        <div class="col-lg-4 col-sm-6 mb-4 "> </div>
        <div class="timeline">
        <hr class="my-0" />
          <img id="good-img" src="/img/{{good.img}}">    
     <div>
        <label>상품명</label>
        <a href="/goodDetail/{{good.id}}">{{good.name}} </a> <!--상품 상세정보-->
      </div>  
      
      <div >
        <label>시작가</label>
        {{good.price}}원
      </div>  
          <table>            
            <td><label>남은시간</label></td> 
        <td class="time" data-start="{{good.createdAt}}">00:00:00</td>
          </table>   
      </d>
     
      {% endfor %}
      <hr class="my-0" />
      <div class="product-group text-center font-weight-light my-4">
        <button class="btn"><a href="/" class="btn btn-default">목록으로</a></button>
        <button class="btn"> <a href="../../good" class="btn btn-default">상품등록</a></button>
      </form>
      </div>
    </div>
  </div>
 </div>
</div>
      
<script>
     const es = new EventSource('/sse');
    es.onmessage = function (e) {
      document.querySelectorAll('.time').forEach((td) => {
        const end = new Date(td.dataset.start); // 경매 시작 시간
        const server = new Date(parseInt(e.data, 10));
        end.setDate(end.getDate() + 1); // 경매 종료 시간
        if (server >= end) { // 경매가 종료되었으면
          return td.textContent = '00:00:00';
        } else {
          const t = end - server; // 경매 종료까지 남은 시간
          const seconds = ('0' + Math.floor((t / 1000) % 60)).slice(-2);
          const minutes = ('0' + Math.floor((t / 1000 / 60) % 60)).slice(-2);
          const hours = ('0' + Math.floor((t / (1000 * 60 * 60)) % 24)).slice(-2);
          return td.textContent = hours + ':' + minutes + ':' + seconds ;
        }
      });
    };
</script>
{% endblock %}