{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid">
  <h1 class="mt-4">상품 정보</h1>
  <div class="mb-4">
    <div class="auction-body justify-content-center">
      <div class="container good-container">
        <div class="good-header">상품 정보</div>
        <hr class="my-0" />
        <form action="/index/goodDetail" id="good-form" method="post">
          <div class="timeline">
            {% for good in goods %}
            <div class="good-body">
              <div class="good-img">
                <img id="good-img" src="/img/{{good.img}}">
              </div>
              <table class="good-table">
                <tr>
                  <th><label>상품명</label></th>
                  <td>{{good.name}}</td>
                </tr>
                <tr>
                  <th><label>시작가</label></th>
                  <td>{{good.price}}원</td>
                </tr>
                <tr>
                  <th><label>남은시간</label></th>
                  <td><div class="time good-time" data-start="{{good.createdAt}}">00:00:00</div></td>
                </tr>
              </table>
            </div>
          </div>
          <hr class="my-0" />
          <div class="product-group">
            <a href="/detail" class="btn btn-primary">이전으로</a>
            <a href="../../good" class="btn btn-primary">상품등록</a>
            <a href="/update/{{good.id}}" class="btn btn-primary">수정하기</a>
            <a href="/delete/{{good.id}}" class="btn btn-primary" onclick="return confirm('상품을 삭제하시겠습니까?')">상품삭제</a>
          </div>
          {% endfor %}
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  const es = new EventSource('/sse');
  es.onmessage = function (e) {
    document.querySelectorAll('.time').forEach((td) => {
      const end = new Date(td.dataset.start); // 경매 시작 시간
      const server = new Date(parseInt(e.data, 10));
      end.setDate(end.getDate() + 1); // 경매 종료 시간
      if (server >= end) { // 경매가 종료되었으면
        return td.textContent = '00:00:00';
      } else {
        const t = end - server; // 경매 종료까지 남은 시간
        const seconds = ('0' + Math.floor((t / 1000) % 60)).slice(-2);
        const minutes = ('0' + Math.floor((t / 1000 / 60) % 60)).slice(-2);
        const hours = ('0' + Math.floor((t / (1000 * 60 * 60)) % 24)).slice(-2);
        return td.textContent = hours + ':' + minutes + ':' + seconds;
      }
    });
  };
</script>
{% endblock %}